
home-page {
    display: block;
}

flickr-header {
    display: block;
}

.tag {
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.photos-container {
    display:block;
    margin-top:50px;
}

